html 
{
    height: 100%;
}

body 
{
    min-height: 100%;
    display: flex;
}

h1 
{
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    text-align: center;
    opacity: .8;
    order: 1;
}

h1 small 
{
    display: block;
}

.site 
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.sketch 
{
  position: relative;
  height: 400px;
  min-width: 400px;
  margin: 0;
  overflow: visible;
  order: 2;

}

.bee-sketch 
{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blue 
{
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5f321b49-5fa7-407b-aaa0-cca6992d3d7c/d5s04qj-d26a072a-3294-4da7-8ab9-a1be78141275.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi81ZjMyMWI0OS01ZmE3LTQwN2ItYWFhMC1jY2E2OTkyZDNkN2MvZDVzMDRxai1kMjZhMDcyYS0zMjk0LTRkYTctOGFiOS1hMWJlNzgxNDEyNzUuZ2lmIn1dXX0.hiDasOecg6-_ze0YZLGVbl4nKudKH9jPepKtZqUlS48) no-repeat center center;
  opacity: 0;
  animation:opacityBlue 5s linear alternate infinite;
}


@media only screen and (min-width: 780px) 
{
.site 
  {
      flex-direction: row;
      padding: 1em 3em 1em 0em;
  }

  h1 
  {
      text-align: right;
      order: 2;
      padding-bottom: 2em;
      padding-left: 2em;
  }

  .sketch 
  {
      order: 1;
  }
}

@keyframes opacityBlue 
{
  from {
      opacity: 0
  }
  25% {
      opacity: 0
  }
  75% {
      opacity: 1
  }
  to {
      opacity: 1
  }
}
